Jinja2
MarkupSafe
PyYAML
aiofiles
anyio
beautifulsoup4
certifi
charset-normalizer
click
fastapi
h11
httpcore
httptools
httpx
idna
lxml
pip
pydantic
python-dotenv
python-multipart
requests
rfc3986
setuptools
six
sniffio
soupsieve
starlette
typing-extensions
urllib3
uvicorn
uvloop
watchfiles
websockets