<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Gorae Online Judge</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/collapsible.css') }}">

<!--    <%&#45;&#45; codemirror js &#45;&#45;%>-->
    <script src="{{ url_for('static', path='/js/codemirror-5.65.9/lib/codemirror.js') }}"></script>
<!--    <%&#45;&#45; codemirror sql.js addon &#45;&#45;%>-->
    <script src="{{ url_for('static', path='/js/codemirror-5.65.9/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', path='/js/codemirror-5.65.9/mode/clike/clike.js') }}"></script>
<!--    <%&#45;&#45; codemirror css &#45;&#45;%>-->
    <link rel="stylesheet" href="{{ url_for('static', path = '/js/codemirror-5.65.9/lib/codemirror.css') }}">
<!--    <%&#45;&#45; codemirror theme &#45;&#45;%>-->
    <link rel="stylesheet" href="{{ url_for('static', path = '/js/codemirror-5.65.9/theme/material-palenight.css') }}">

</head>
<body>
    <main>
        <div class="top-logo">
<!--            <img width="95em" src="{{ url_for('static', path='/image/kuwhale.png')}}" >-->
            <img width="85em" src="{{ url_for('static', path='/image/whale.gif')}}" >
<!--            <h1 style="font-size:3em; margin: 0 0.3em">🐳 </h1>-->
            <h1>Goare Online Judge</h1>
        </div>
        <br>
        {% block content %}

        {% endblock content %}
    </main>
</body>
</html>